<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>mymap</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but mymap doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=aVlkngRsO65fXRpBMtM0wCUVapP8ne6P"></script>
  </body>
</html>
